* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    overflow-y: scroll; /*overflow属性: 检索或设置当对象的内容超过其指定高度及宽度时如何显示内容,scroll 无论内容是否超越范围，都将显示滚动条。*/
}
a {
    text-decoration: none;
}
.card {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.line2 {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 超出几行省略 */
    overflow: hidden;
}
.line1{
    white-space:nowrap;
    overflow:hidden;
    /* 文本超出时，显示省略标记 */
    text-overflow:ellipsis;
}
